/.idea/
/project/project/
/project/target/
/conf/evolutions/
/conf/application.conf
/target/
/out/
/dist/
/lib/
/logs/
/tmp/
/test-result/
/RUNNING_PID
/server.pid
/activator-sbt-echo-play-shim.sbt
*.sql
FlightPub.sublime-workspace
