@import 'globalMethods';
@import 'globalVariables';

@navigationHeight: 2.2em;
@bannerContainerHeight: 350px;

@navLineHeight: @navigationHeight;

@navigationBackgroundColor: #000;
@activeBackgroundColor: lighten(@navigationBackgroundColor, 10%);
@footerBackgroundColor: #000;

@navColor: darken(@activeColor, 10%);
@activeColor: #fff;
@footerColor: #ccc;
@headerSelectionColour: #bbb;
@footerSelectionColour: #bbb;

@navBorderWeight: 0.05em;
@navSpanBorderWeight: 0.15em;

@headerBorderWidth: 0.3em;

@headerBoxShadow: 0.5em;
@footerBoxShadow: 5em;

* {
	padding: 0;
	margin: 0;
}

html, body {
	min-width: 1000px;
	min-height: 800px;
	background-color: #000;
	color: @mainFontColor;
}

h1, h1:hover {
	.transition(background-color, @time, linear);
}

h1 {
	color: @h1Color;
	font: bold 2em "Ubuntu", @nextFont;
	text-align: right;
	.textShadow(@buttonBackgroundColor);
	border-radius: 0.1em;
	padding: @padding 1.7em @padding @padding;
	margin: @margin;
	position: relative;
}

h2 {
	color: @buttonBackgroundColor;
	font: bold 1.5em 'Ubuntu' @nextFont;
}

a, a:hover, a:focus {
	text-decoration: none;
}

a:hover {
	.transition(background, 0.5s);
}

.content, .header, .navigationLink span {
	font: 1em 'Ubuntu' @nextFont;
}

.content {
	min-width: @minWidth;
	min-height: 100%;
	color: @mainFontColor;
	padding: 1em 0;
	position: relative;
	clear: both;
	.multiGradient(@bannerStart, @bannerSecond, @bannerThird, @bannerFourth, @bannerStop);
	.boxShadow(0, -@contentBoxShadow, @contentBoxShadow, @contentBoxShadow, #000);
}

.content:before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('@{imageFolder}/content.png');
	position: absolute;
	opacity:0.075;
	filter:alpha(opacity=7);
}

/* Header */
.header, .logo, .logo a, nav, nav a, .active {
	height: 100%;
}

.header {
	overflow: hidden;
	.boxShadow(0, -@headerBoxShadow, @headerBoxShadow, @headerBoxShadow, @navigationBackgroundColor);
}

.header::selection {
  background-color: @headerSelectionColour;
}

.header::-moz-selection {
	background-color: @headerSelectionColour;
}

.navigation {
	height: @navigationHeight;
	background-color: @navigationBackgroundColor;
}

nav a, .active {
	height: @navigationHeight;
	text-align: center;
	line-height: @navLineHeight;
	padding: 0 0.5em;
}

nav a, nav a:hover {
	.transition(background-color, @time, linear);
}

nav a {
	background-color: transparent;
	color: @navColor;
	.textShadow(@navColor);
}

nav a:hover {
	background-color: lighten(@activeBackgroundColor, 10%);
	color: @activeColor;
	text-decoration: none;
	cursor: pointer;
}

a.active {
	background-color: @activeBackgroundColor;
	color: @activeColor;
	.textShadow(@activeColor);
}

a.active:hover {
	color: ligthen(@activeColor, 10%);
}

.bannerContainer, .bannerContainer:before, .bannerGradient {
	height: @bannerContainerHeight;
}

.bannerContainer, .bannerGradient {
	position: relative;
}

.bannerContainer {
	background-color: #000;
	.multiGradient(@bannerStart, @bannerSecond, @bannerThird, @bannerFourth, @bannerStop);
}

.bannerContainer:before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	background: #555 url('@{imageFolder}/banner.png');
	position: absolute;
	opacity:0.30;
	filter:alpha(opacity=30);
}

.bannerGradient () {
	@origin: left;
	@start: @bannerStart;
	@startPercent: 0;
	@second: transparent;
	@secondPercent: 10%;
	@third: transparent;
	@thirdPercent: 100%;
	@stop: transparent;
	@stopPercent: 100%;
	background-image: -webkit-linear-gradient(@origin, @start @startPercent, @second @secondPercent, @third @thirdPercent, @stop @stopPercent);
	background-image: -moz-linear-gradient(@origin, @start @startPercent, @second @secondPercent, @third @thirdPercent, @stop @stopPercent);
	background-image: -o-linear-gradient(@origin, @start @startPercent, @second @secondPercent, @third @thirdPercent, @stop @stopPercent);
	background-image: -ms-linear-gradient(@origin, @start @startPercent, @second @secondPercent, @third @thirdPercent, @stop @stopPercent);
	background-image: linear-gradient(@origin, @start @startPercent, @second @secondPercent, @third @thirdPercent, @stop @stopPercent);
}

.bannerGradient {
	width: 100%;
	.bannerGradient();
}

.banner {
	height: @bannerContainerHeight - 3em;
	padding: 4em 0 0 5em;
}

.logo, .logo:hover {
	.transition(color, @time, linear);
}

.logo {
	height: 1em;
	color: @buttonBackgroundColorHover;
	font: 7em 'Ubuntu' @nextFont;
}

.logo:hover {
	color: @buttonBackgroundColor;
	text-decoration: none;
	cursor: pointer;
}

.subtext {
	color: #fff;
	font: 3em 'Ubuntu' @nextFont;
	.textShadow(#fff);
}

/* Content */
.contentContainer {
	height: auto !important;
	height: 100%;
	background-color: #000;
	.boxShadow(0, -@contentBoxShadow, @contentBoxShadow, @contentBoxShadow, #000);
}

.smallerContent, .booking {
	width: @contentWidth;
	margin: 0 auto;
}

/* Footer */
.footer {
	background-color: @footerBackgroundColor;
	color: @footerColor;
	font: 1em 'Ubuntu', @nextFont;
	text-align: center;
	padding: 1em 0;
}

.footer::selection {
    background-color: @footerSelectionColour;
}

.footer::-moz-selection {
    background-color: @footerSelectionColour;
}

input {
	border-radius: @borderWidth 0 0 @borderWidth;
}

.button-blue, .button-green, .button-red {
	width: @buttonWidth;
	border: 0;
	border-radius: 0.3em;
	cursor: pointer;
}

.button-blue {
	background: @buttonBackgroundColor;
}

.button-blue:hover {
	background: @buttonBackgroundColorHover;
}

.button-green {
	background: @selectedButtonBackgroundColor;
}

.button-green:hover {
	background: @selectedButtonBackgroundColorHover;
}

.button-red {
	background: @cancelButtonBackgroundColor;
}

.button-red:hover {
	background: @cancelButtonBackgroundColorHover;
}

.button-blue .x-btn-inner, .button-green .x-btn-inner, .button-red .x-btn-inner {
	font: 1em 'Ubuntu' @nextFont;
	padding: 0.1em 0;
}

.button-blue a, .button-blue:hover, .button-blue:active, .button-blue:visited, .button-green a, .button-green:hover,
.button-green:active, .button-green:visited, .button-red a, .button-red:hover, .button-red:active, .button-red:visited {
	text-decoration: none;
}

.button-blue, .button-blue:hover, .button-green, .button-green:hover, .button-red, .button-red:hover {
	.transition(background, @time, linear);
}

::selection {
	background-color: @selectionColour;
}

::-moz-selection {
	background-color: @selectionColour;
}
