@width: 80%;
@minWidth: 1000px;
@maxWidth: 1920px;
@contentWidth: 80%;
@buttonWidth: 8em;

@themeBackgroundColor: @bannerStop;
@themeBackgroundColorHover: lighten(@themeBackgroundColor, 5%);
@secondaryBackgroundColor: #1d2c3f;
@thirdBackgroundColor: #fff;
@inputBackgroundColor: #fff;
@buttonBackgroundColor: #428bca;
@buttonBackgroundColorHover: #3276b1;
@cancelButtonBackgroundColor: #d9534f;
@cancelButtonBackgroundColorHover: #d2322d;
@selectedButtonBackgroundColor: #5cb85c;
@selectedButtonBackgroundColorHover: #47a447;

@bannerStart: #000;
@bannerSecond: #0b1a2d;
@bannerThird: #23497b;
@bannerFourth: #3a2d47;
@bannerStop: #810f1d;

@themeColor: #fff;
@secondaryColor: #f8ae13;
@thirdColor: #222;
@mainFontColor: #fff;
@h1Color: @buttonBackgroundColor;
@formColor: @mainFontColor;
@inputColor: #ccc;
@selectionColour: lighten(@buttonBackgroundColor, 30%);

@bodyFontSize: 16px;
@formFontSize: 1.5em;
@inputFontSize: 0.6em;

@bodyFont: 	@bodyFontSize 'Open sans', @nextFont;
@formFont:  @formFontSize 'Roboto', @nextFont;
@inputFont: @inputFontSize 'Open sans', @nextFont;
@nextFont: 'Helvetica', 'Century gothic', verdana, sans-serif;

@borderWidth: 0.3em;

@padding: @borderWidth;

@margin: @padding;
@buttonMargin: 1em;

@contentBoxShadow: 0.025em;

@time: 0.3s;
@imageFolder: "../images";
@h1Path: "@{imageFolder}/arrow2.png";

@neptunePath: "../../assets/extjs/packages/ext-theme-neptune/build";