@width: 80%;
@minWidth: 1000px;
@maxWidth: 1920px;

@themeBackgroundColor: #d10000;
@themeBackgroundColorHover: lighten(@themeBackgroundColor, 5%);
@secondaryBackgroundColor: #1d2c3f;
@thirdBackgroundColor: #fff;
@h1BackgroundColor: @themeBackgroundColor;
@h1BackgroundColorHover: @themeBackgroundColorHover;
@inputBackgroundColor: #fff;

@themeColor: #fff;
@secondaryColor: #f8ae13;
@thirdColor: #222;
@mainFontColor: #fff;
@h1Color: @mainFontColor;
@formColor: @mainFontColor;
@inputColor: #ccc;
@fontColor: #888;
@selectionColour: lighten(@themeBackgroundColor, 30%);

@bodyFontSize: 16px;
@h1FontSize: 48px;
@formFontSize: 1.5em;
@inputFontSize: 0.6em;

@bodyFont: 	@bodyFontSize 'Open sans', @nextFont;
@h1Font:    bold @h1FontSize "Ubuntu", @nextFont;
@formFont:  @formFontSize 'Roboto', @nextFont;
@inputFont: @inputFontSize 'Open sans', @nextFont;
@nextFont: 'Helvetica', 'Century gothic', verdana, sans-serif;

@padding: 0.3em;

@margin: @padding;

@h1BoxShadow: 0.03em;

@time: 0.3s;
@imageFolder: "../images";
@h1Path: "@{imageFolder}/arrow2.png";
