@import 'globalMethods';
@import 'globalVariables';

@labelWidth: 25%;

input {
	border-radius: @borderWidth 0 0 @borderWidth;
}

.passengers {
	margin: 0 5px 0 0;
}

.passengers:last-child {
	margin: 0;
}

.map {
	width: 100%;
	height: 500px;
	clear: both;
	.boxShadow(0, 0, 0.05em, 0.05em, darken(#000, 10%));
}

.map a, .map span {
	display: none;
}

a.buttons {
	width: @buttonWidth;
	height: 100%;
	margin: @buttonMargin 0 0 0;
	float: right;
}
