@import 'globalVariables';

#content {
  background-color: @secondaryBackgroundColor;
}

.panel {
  margin-top: 20px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.hide1 {
  display: none;
}

.hide2 {
  display: none;
}

h2 {
  padding: 0.2cm;
}
