@styles = {
	<link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/flights.css")'>
}

@scripts = {
	<script type='text/javascript'>
		Ext.create('FB.controllers.Flights');
	</script>
}

@main("FlightPub - Flight Results", styles, scripts) {

	<div id="flightsContainer">
		<div id="topContainer">
			<!--<h1>Departing from Sydney</h1>-->
			<div id="sort">
				<!-- add reverse sort click -->
				<div id="sortText">
					Sort by
				</div>
				<span id="sortPrice">Price</span>
				<span id="sortDuration">Duration</span>
				<span id="sortDepartureTime">Departure Time</span>
				<span id="sortArrivalTime">Arrival Time</span>
				<span id="sortStopOvers">Number of stop-overs</span>
				<span id="sortAirline">Airline</span>
			</div>
			<div id="filterContainer">
				<div id="filter">
					<div id="filterText">
						Filter by
					</div>
					<div id="filterContent">
						<span id="filterNone">None</span>
						<span id="filterPrice">Price</span>
						<span id="filterDuration">Duration</span>
						<span id="filterStopOvers">Number of stop-overs</span>
						<span id="filterAirline">Airline</span>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="results">
			<div id="timeContainer">
				<div id="departureTime">
					Timezone
				</div>
				<div id="arrivalTime">
					hello
				</div>
			</div>
			<div id="flights">
			</div>
			<div id="buttons">
			</div>
			<div class="clear"></div>
		</div>
	</div>
}