@styles = {
	<link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/flights.css")'>
}

@controller = @{
	"Flights"
}

@main("FlightPub - Flight Results", styles, controller = controller) {

	<h1>Flight Results</h1>
	<div id="flightOptions">
		<!--<h1>Departing from Sydney</h1>-->
		<div id="sort">
			<!-- add reverse sort click -->
			<div id="sortText">
				Sort by
			</div>
			<span id="sortPrice">Price</span>
			<span id="sortDuration">Duration</span>
			<span id="sortDepartureTime">Departure Time</span>
			<span id="sortArrivalTime">Arrival Time</span>
			<span id="sortStopOvers">Number of stop-overs</span>
			<span id="sortAirline">Airline</span>
		</div>
		<div id="filterContainer">
			<div id="filter">
				<div id="filterText">
					Filter by
				</div>
				<div id="filterContent">
					<span id="filterNone">None</span>
					<span id="filterPrice">Price</span>
					<span id="filterDuration">Duration</span>
					<span id="filterStopOvers">Number of stop-overs</span>
					<span id="filterAirline">Airline</span>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="content">
		<div id="flights">
		</div>
		<div id="buttons">
		</div>
		<div class="clear"></div>
	</div>

}