@styles = {
	<link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/flights.css")'>
}

@scripts = {
	<script type='text/javascript' src='@routes.Assets.at("javascripts/flights.js")'></script>
}

@main("FlightPub - Flight Results", styles, scripts) {

	<div id="flightsContainer">
		<!-- get actual data for this -->
		<div id="departureTab" class="selectedTab">
			<a>Sydney &rarr; Melbourne</a>
		</div>
		<!-- todo add if for returns -->
		<div id="returnTab" class="deselectedTab">
			<a href="">Melbourne &rarr; Sydney</a>
		</div>
		<div id="topContainer">
			<!--<h1>Departing from Sydney</h1>-->
			<div id="sortContainer">
				<div id="sort">
					<!-- add reverse sort click -->
					<div id="sortText">
						Sort by
					</div>
					<span id="sortPrice">Price</span>
					<span id="sortDuration">Duration</span>
					<span id="sortDepartureTime">Departure Time</span>
					<span id="sortArrivalTime">Arrival Time</span>
					<span id="sortStopOvers">Number of stop-overs</span>
					<span id="sortAirline">Airline</span>
					<span id="sortClass">Class</span>
				</div>
			</div>
			<div id="filterContainer">
				<div id="filter">
					<div id="filterText">
						Filter by
					</div>
					<span id="filterNone"">None</span>
					<span id="filterPrice">Price</span>
					<span id="filterDuration">Duration</span>
					<span id="filterDepartureTime">Departure Time</span>
					<span id="filterArrivalTime">Arrival Time</span>
					<span id="filterStopOvers">Number of stop-overs</span>
					<span id="filterAirline">Airline</span>
					<span id="filterClass">Class</span>
					<span id="filterAll">All</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="resultsContainer">
			<div id="results">
				<div id="timeContainer">
					<div id="departureTime">
						Timezone
					</div>
					<div id="arrivalTime">
						hello
					</div>
				</div>
				<div id="flights">

				</div>
			</div>
		</div>
	</div>
}