@styles = {
	<link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/home.css")'>
}

@scripts = {
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type='text/javascript'>
    Ext.create('FB.controllers.Home');
    </script>
}

@main("FlightPub - Home", styles, scripts) {

	<h1>Home</h1>
	<div class="content">
		<div id="home"></div>
	</div>
	<div id="informationWrapper">
		<div id="information">
			<h1>Test heading</h1>
			<div class="text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum arcu nec nisl consequat posuere. Nam consectetur, nulla eget pellentesque tempus, elit ante rutrum libero, ut ornare sem turpis vitae metus. Duis id leo non mi condimentum fringilla. Nullam tempus luctus malesuada. Sed facilisis pretium sem. Nunc sed augue tincidunt sem egestas scelerisque. Aliquam erat volutpat. Quisque feugiat purus ac sem aliquet, a iaculis justo hendrerit. Nulla non massa risus. Sed condimentum nisl vitae dignissim cursus. Morbi sem eros, feugiat vel orci eget, adipiscing rhoncus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet neque sem. Mauris est risus, malesuada eu placerat vel, congue ut dolor. In est sem, congue quis mauris varius, sollicitudin tincidunt risus.</p>
				<p>Sed posuere risus eget mi condimentum mattis et eget augue. In congue, sapien rhoncus interdum vestibulum, tortor ante gravida diam, ut lacinia tellus enim at nisl. Vestibulum in est pharetra, porta odio vitae, suscipit augue. Proin viverra nisl eu elit pretium molestie. Nullam scelerisque, elit id sagittis viverra, nisi enim iaculis nisl, non consectetur odio mi et nibh. Nam ac cursus nisi. Suspendisse potenti. Phasellus convallis tellus viverra dui facilisis aliquet. Sed sed orci eget ipsum ullamcorper egestas. Vestibulum id sapien accumsan, molestie purus eget, iaculis metus.</p>
				<p>Integer congue justo urna, sed semper neque pulvinar eu. Curabitur elementum vestibulum nibh, nec condimentum tortor tempor a. Fusce sed mauris nec augue condimentum pretium vel id risus. Donec vitae dui erat. Nunc fermentum laoreet arcu, vitae volutpat velit consectetur at. In est sapien, consequat nec tellus id, eleifend ultrices lectus. Sed id diam justo. Donec ultrices volutpat est, a lobortis purus ornare sit amet. Donec sollicitudin neque porta, viverra massa sed, tincidunt mauris. Ut aliquet urna a mi ultricies suscipit. Vestibulum erat leo, venenatis id nulla a, vulputate lobortis urna. Sed consequat justo at varius sagittis. Ut molestie leo eget mauris sagittis, id pretium diam volutpat. Proin accumsan consectetur ornare.</p>
				<p>Nunc commodo dignissim egestas. Sed lacinia fringilla lectus. Donec vitae accumsan eros. Pellentesque ac egestas dolor. Nam faucibus ante iaculis, hendrerit est quis, ultricies ipsum. Donec bibendum laoreet dui. Nullam in nisi lorem. Cras eget turpis arcu. Vivamus vulputate dictum risus, a ullamcorper ipsum eleifend eu. Proin rhoncus eu erat ut tempus. Suspendisse id rutrum magna.</p>
				<p>Nulla facilisi. In orci sem, elementum et rhoncus vel, sodales a tortor. Proin sit amet urna eget diam viverra venenatis. Curabitur sodales quis nisl in congue. Vestibulum sem nisl, pharetra at mattis sit amet, vehicula tincidunt felis. Fusce consequat sollicitudin fermentum. Maecenas eu nisl eu enim laoreet vulputate at in justo. Sed egestas in lorem at malesuada. Nam nec quam risus. Sed a placerat diam. Aliquam non est nec nulla euismod hendrerit id in urna.</p>
			</div>
		</div>
	</div>
	<div id="destinations">
		<div id="mask">
			<div class="animation">
				<img src='@routes.Assets.at("images/fiji.png")' alt="Fiji" />
				<div class="title">
					Fiji
				</div>
			</div>
			<div class="animation">
				<img src='@routes.Assets.at("images/paris.jpg")' alt="Paris" />
				<div class="title">
					Paris
				</div>
			</div>
			<div class="animation">
				<img src='@routes.Assets.at("images/england.jpg")' alt="England" />
				<div class="title">
					England
				</div>
			</div>
		</div>
	</div>

}
