@(luggage: List[Luggage])

@styles = {
    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/luggage.css")'>
}

@scripts = {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/luggage.js")'></script>
}

@main("FlightPub - Luggage Options", styles) {

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">FlightPub - Luggage</h1>
            </div>
            <div class="panel-body" id="luggage">
                <p class="centre-block">
                    Please select whether you wish to include only carry-on luggage with your booking, or if you wish to also include checked luggage.
                </p>
                <FORM class="form" role="form" method="POST" action="/luggage">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Only Carry-On Luggage
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Carry-On Plus Checked Baggage
                        </label>
                    </div>
                    <a href="/seatSelection" class="btn btn-primary">Previous</a>
                    <input type="submit" class="btn btn-primary" value="Next">
                    <button class="btn btn-danger" onclick="confirmCancel();">Cancel</button>
                </FORM>
            </div>
        </div>
    </div>
}