<!DOCTYPE html>
<html>
    <head>
        <title>FlightPub</title>
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
	    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("extjs/build/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all-debug.css")'>
        <link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/global.css")'>
	    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/extjs.css")'>
        <link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/main.css")'>
	    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/home.css")'>
	    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto'>
	    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans'>
	    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Ubuntu'>
	    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	    <script type="text/javascript" src='@routes.Assets.at("extjs/build/ext-all-debug.js")'></script>
	    <script type="text/javascript" src='@routes.Assets.at("extjs/packages/ext-theme-neptune/build/ext-theme-neptune-debug.js")'></script>
	    <script type='text/javascript' src='@routes.Assets.at("loader.js")'></script>
	    <script type='text/javascript' src='@routes.Assets.at("app.js")'></script>
    </head>
    <body></body>
</html>
